html {
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

body {
    color: #000;
    font-family: "Hachi Maru Pop", cursive;
    line-height: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
}

a {
    display: block;
    text-decoration: none;
    color: #000;
}

button {
    border: 1px transparent;
    padding: 0;
    font-family: inherit;
    background-color: rgb(255, 166, 166)
}

span {
    display: block;
}

header {
    background-color: rgba(1, 200, 251, 0.62);
    position: absolute;
    width: 100%;
    top: 0;
}

.container {
    margin: 0 auto;
    width: 1714px;
}

.container::after {
    content: '';
    background-image: url('../img/sakura-rotate.png');
    width: 614px;
    height: 356px;
    position: absolute;
    transform: rotate(195deg);
    top: -70px;
    left: -150px;
}
#ul2::after{
    content: '';
    background-image: url('../img/sakura-bot.png');
    width: 614px;
    height: 356px;
    position: absolute;
    right: -298px;
    top: -270px;
}
#ul3::after{
    content: '';
    background-image: url('../img/sakura-rotate.png');
    width: 614px;
    height: 356px;
    position: absolute;
    transform: rotate(185deg);
    top: -270px;
    left: -280px;
}
.header-menu-container {
    margin: 0 auto;
    width: 1714px;
}

.header-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 98px;
}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 88px;
    padding: 42px 0;
}

.header-menu-list-item {
    font-size: 24px;
}

.header-menu-cart-svg {
    width: 44px;
    height: 44px;
}
.hero{
    padding-top: 260px;
    padding-bottom: 245px;
}
.popular-container-list {
    display: flex;
    gap: 182px;
    position: relative;
}
.popular-container-list-item {
    border: 7px solid rgb(255, 166, 166);
    width: 450px;
    padding: 42px 59px;
}

.popular-container-list-item-name {
    font-size: 24px;
    margin-bottom: 48px;
}

.popular-container-list-item-name-special {
    font-size: 24px;
    margin-bottom: 20px;
}

.popular-container-list-item-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.popular-container-list-item-cart {
    width: 50px;
    height: 50px;
}

.popular-container-list-item-price {
    font-size: 24px;
    padding: auto 0;
}

.popular-container-list-item-flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-container-list-item-buy {
    font-size: 24px;
    border-radius: 60px;
    width: 216px;
    height: 58px;
}

.popular-container-list-item-heart {
    width: 48px;
    height: 48px;
}

footer {
    background-color: rgba(110, 200, 251, 0.62);
    font-family: "Open Sans", sans-serif;
    padding-top: 49px;
    padding-bottom: 70px;
}

#footer-h2 {
    font-size: 48px;
}

#footer-h3 {
    font-size: 36px;
    margin-bottom: 16px;
}

.footer-mail {
    font-family: "Hachi Maru Pop";
    font-size: 48px;
    text-align: center;
    margin-bottom: 81px;
}

.footer-inf-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
}

.footer-inf-contacts-adres-name {
    font-size: 36px;
    padding-bottom: 0px;
}

.footer-inf-contacts-adres-name2 {
    font-size: 36px;
    margin-bottom: 43px;
}

.footer-inf-aboutUs-sertificate {
    font-size: 36px;
}

.footer-inf-sociale {
    display: flex;
    justify-content: center;
    gap: 68px;
}

.footer-inf-sociale-mastercard {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.footer-inf-sociale-mastercard-use {
    text-align: center;
    margin: 0 auto;
}

.footer-UserMail {
    display: flex;
    padding: 0 auto;
    justify-content: center;
    margin-bottom: 81px;
}

.footer-UserMail-type {
    background-color: #fff;
    display: block;
    width: 780px;
    height: 100px;
    font-size: 36px;
    border: 1px solid transparent;
}

.footer-UserMail-type::placeholder {
    text-align: center;
}

.footer-UserMail-send {
    font-family: "Hachi Maru Pop";
    width: 350px;
    height: 100px;
    font-size: 24px;
}

.footer-disclaimer-container {
    display: flex;
    justify-content: space-around;
}

.footer-disclaimer-item {
    font-size: 36px;
}